@forward "globals";

@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Don\'t use units when using the rem() function; only numbers.';
  }
}

body {
  background-color: var(--green200);
}

.contact-form {
  background-color: white;
  margin: 32px auto;
  padding: 24px;
  width: rem(343);
  border-radius: 16px;

  @media screen and (min-width: 48rem) {
    width: rem(690);
    padding: 40px;
    margin: 128px auto;
  }

  @media screen and (min-width: 80rem) {
    width: rem(736);
  }
}

.col {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.field {
  border-radius: 8px;
  border: 1px solid var(--grey500);
  padding: 12px;
  font-size: rem(18);
  line-height: 150%;
  font-family: "karla", sans-serif;
  color: var(--grey900);
  outline: none;
}

.field:hover,
.field:active,
.field:focus {
  border-color: var(--green600);
  outline: none;
  cursor: pointer;
  border-width: 2px;
}

.field:user-invalid {
  border-color: var(--red);
  outline: none;
}

.name {
  @media screen and (min-width: 48rem) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.name .col {
  @media screen and (min-width: 48rem) {
    width: rem(297);
  }
  @media screen and (min-width: 80rem) {
    width: rem(320);
  }
}

.option-container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 48rem) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.option {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid var(--grey500);
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: rem(18);
  @media screen and (min-width: 48rem) {
    width: rem(297);
  }
  @media screen and (min-width: 80rem) {
    width: rem(320);
  }
}

.option:hover {
  cursor: pointer;
  border: 2px solid var(--green600);
}

.option:has(input[type="radio"]:checked) {
  background-color: var(--green200);
  border: 1px solid var(--green600);
}

.radio {
  accent-color: var(--green600);
  margin-right: 12px;
}

.box-label,
legend {
  padding-bottom: 8px;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 24px;
}

textarea {
  resize: none;
  height: rem(240);

  @media screen and (min-width: 48rem) {
    height: rem(132);
  }

  @media screen and (min-width: 80rem) {
    height: rem(105);
  }
}

.consent {
  margin-bottom: 24px;
}

.approve {
  padding-right: 20px;
  accent-color: var(--green600);
}

.error {
  margin: 8px 0 0;
  color: var(--red);
}

.error:empty {
  display: none;
}

#contactme {
  margin-right: 16px;
}

//success message

.success {
  width: 100%;
  position: fixed;
  top: 24px;

  display: none;
}

.success-text {
  width: rem(327);
  height: rem(131);
  border-radius: 12px;
  background-color: var(--grey900);
  color: white;
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 48rem) {
    width: rem(450);
    height: rem(107);
  }
}

.checkmark {
  height: rem(24);
  width: rem(24);
  margin-right: 8px;
}

.msgSent {
  display: flex;
}

.success p {
  margin: 0;
}
